<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Linux Job Directory</title>
</head>

<body>

<div class="container">

  <h3>Linux Job Directory</h3>
  <hr>
  <a th:href="@{/mecha/addMecha}" class="btn btn-primary btn-sm mb-3">
    Add Printer
  </a>
  <form th:action="@{/mecha/listMecha}" method="get">
    <input type="text" name="search" placeholder="Search by Printer Name">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>Mecha Name</th>
      <th>Version Number</th>
      <th>Linux Source Close</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempMecha : ${mechas}">

      <td th:text="${tempMecha.productName}" />
      <td th:text="${tempMecha.versionNumber}" />
      <td th:text="${tempMecha.linuxSourceClose}" />
      <td>
        <a th:href="@{/mecha/updateMecha(mechaId=${tempMecha.id})}" class="btn btn-info btn-sm">
          Edit
        </a>
        <a th:href="@{/mecha/deleteMecha(mechaId=${tempMecha.id})}" class="btn btn-danger btn-sm"
           onclick="return confirm('Delete beneran gak nih?');">
          Delete
        </a>
        <a th:href="@{/mecha/sendEmail(mechaId=${tempMecha.id})}" class="btn btn-warning btn-sm"
           onclick="return confirm('Send email beneran gak nih?');">
          Send
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination Links -->
  <div th:if="${mechas.totalPages > 1}">
    <ul class="pagination">
      <li th:class="${mechas.first ? 'disabled' : ''}"
          class="page-item"><a class="page-link"
                               th:href="@{/mecha/listMecha(pageNo=0, pageSize=${mechas.size})}">First</a></li>
      <li th:class="${mechas.first ? 'disabled' : ''}"
          class="page-item"><a class="page-link"
                               th:href="@{/mecha/listMecha(pageNo=${mechas.number - 1}, pageSize=${mechas.size})}">Previous</a></li>
      <li th:class="${mechas.last ? 'disabled' : ''}"
          class="page-item"><a class="page-link"
                               th:href="@{/mecha/listMecha(pageNo=${mechas.number + 1}, pageSize=${mechas.size})}">Next</a></li>
      <li th:class="${mechas.last ? 'disabled' : ''}"
          class="page-item"><a class="page-link"
                               th:href="@{/mecha/listMecha(pageNo=${mechas.totalPages - 1}, pageSize=${mechas.size})}">Last</a></li>
    </ul>
  </div>

</div>

</body>
</html>
